task_id: f1008
status: dev
description: Create new stats models
notes: |-
prompts:
  - key: base
    prompt: |-
      Add the constructor models
author_name: test
author_email: test
difficulty: medium
tags:
  - dbt
  - model-creation

# Test setup script to run before dbt tests
test_setup: |-
  dbt deps

# Tables to compare for solution
solution_seeds:
  - table_name: foo

# Variants for different database and project combinations
variants:
- db_type: duckdb
  db_name: f1
  project_type: dbt
  project_name: f1