task_id: quickbooks001
status: ready
description: Fix a data type issue in the Quickbooks source.
notes: |-
  The issue is with a few columns being numbers and not dates.
prompts:
  - key: base
    prompt: |-
      This project is erroring out and needs to be fixed. Fix the underlying issue and update the tables.
author_name: test
author_email: test
difficulty: easy
tags:
  - data-hygiene
  - data-inspection
  - dbt
  - dbt-packages
  - dbt-utils
  - debugging
  - model-refactor

test_setup: |-
  dbt deps
  dbt run

# Tables to compare for solution
solution_seeds:
  - table_name: int_quickbooks__refund_receipt_transactions
  - table_name: int_quickbooks__sales_receipt_transactions
  - table_name: int_quickbooks__invoice_join
    exclude_columns:
    - source_relation

# Variants for different database and project combinations
variants:
- db_type: duckdb
  db_name: quickbooks
  project_type: dbt
  project_name: quickbooks